<div class="bg-white h-100">
    @if(isLoading) {
        <div class="container h-100 d-flex justify-content-center align-items-center">
            <app-loader></app-loader>
        </div>
    } @else {
        <form (ngSubmit)="submitData()" [formGroup]="recomendationForm" novalidate>
            <div class="position-sticky top-0 bg-white">
                <h6 class="text-secondary" mat-dialog-title>
                    {{ dialogData.isEdit ? 'Modificar recomendación' : 'Crear recomendación' }}
                </h6>
            </div>
            <mat-dialog-content>
                @if(recomendationExists) {
                    <div class="row w-100">
                        <div class="col-12">
                            <div class="alert alert-danger" role="alert">
                                {{ errorMessage }}
                            </div>
                        </div>
                    </div>
                }
                <div class="row w-100">
                    <div class="col-6">
                        <label class="h6 mb-2">Nombre identificativo de la recomendación</label>
                        <mat-form-field class="w-100">
                            <input
                                matInput
                                (change)="checkItemExists($event)"
                                placeholder="Nombre identificativo"
                                class="content-text-area"
                                formControlName="identify_lang_recommended_id"
                            />
                            @if (f['identify_lang_recommended_id'].errors) {
                                <mat-error>
                                    @if (f['identify_lang_recommended_id'].errors['required']) {
                                        El nombre identificativo es obligatorio
                                    }
                                </mat-error>
                            }
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <label class="h6 mb-2">Idioma:</label>
                        <mat-form-field class="w-100">
                            <mat-select formControlName="lang" (selectionChange)="checkItemExists($event)">
                                <mat-option [value]="''">Seleccione</mat-option>
                                <mat-option [value]="'es'">Castellano</mat-option>
                                <mat-option [value]="'en'">Inglés</mat-option>
                                <!-- <mat-option [value]="'ca'">Catalán</mat-option>
                                <mat-option [value]="'gl'">Gallego</mat-option>
                                <mat-option [value]="'eu'">Euskera</mat-option> -->
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row w-100">
                    <div class="col-12">
                        <label class="h6 mb-2">Título:</label>
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Título de recomendación" class="content-text-area" formControlName="name"/>
                            @if (f['name'].errors) {
                                <mat-error>
                                    @if (f['name'].errors['required']) {
                                        El título es obligatorio
                                    }
                                </mat-error>
                            }
                        </mat-form-field>
                    </div>
                </div>
                <div class="row w-100">
                    <div class="col-12">
                        <label class="h6 mb-2">Recomendación:</label>
                        <mat-form-field class="w-100">
                            <textarea
                                matInput
                                placeholder="Texto de recomendación"
                                cdkTextareaAutosize
                                #autosize="cdkTextareaAutosize"
                                formControlName="description"
                            ></textarea>
                            @if (f['description'].errors) {
                                <mat-error>
                                    @if (f['description'].errors['required']) {
                                        La descripción es obligatoria
                                    }
                                </mat-error>
                            }
                        </mat-form-field>
                    </div>
                </div>
                <div class="row w-100" formGroupName="impact">
                    <label class="h6 mb-2">Impacto:</label>
                    <div class="col-6">
                        <mat-form-field class="w-100">
                            <mat-select formControlName="type">
                                <mat-option [value]="''">Seleccione</mat-option>
                                <mat-option [value]="'1'">Bajo</mat-option>
                                <mat-option [value]="'2'">Medio</mat-option>
                                <mat-option [value]="'3'">Alto</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field class="w-100">
                            <input matInput type="number" step="0.01" placeholder="Valor en Kg CO2" class="content-text-area" formControlName="value"/>
                        </mat-form-field>
                    </div>
                </div>
                @if(f['lang'].value === 'es') {
                    <div class="row w-100">
                        <div class="col-12">
                            <label class="h6 mb-2">Imagen: </label><span> Debe ser del tamaño 780x1624 px, en formato vertical.</span>
                            <div class="d-flex gap-2">
                                <input type="file" (change)="onFileSelected($event)" class="form-control h-100" #fileInput>
                                @if(previewUrl) {
                                    <button type="button" color="warn" mat-icon-button (click)="onRemoveImage(fileInput)"><mat-icon>close</mat-icon></button>
                                }
                            </div>
                        </div>
                    </div>
                    @if(previewUrl) {
                        <div class="row w-100 mt-1">
                            <div class="col-12 align-top">
                                <img [src]="previewUrl" alt="Vista previa de la imagen" height="200px">
                            </div>
                        </div>
                    }
                }
            </mat-dialog-content>
            <mat-dialog-actions class="p-4 position-absolute bg-white gap-2" style="bottom: 0; right: 0;">
                <button
                    type="submit"
                    color="primary"
                    class="btn btn-danger rounded-pill"
                    [disabled]="!recomendationForm.valid">
                    Guardar
                </button>
            </mat-dialog-actions>
        </form>
    }
</div>
