<div class="h-100 d-flex justify-content-center align-items-center bg-light">
    <mat-card class="card bg-white text-center p-3" style="width: 30vw; height: 40vh;">
        @if(isLoading) {
            <div class="container h-100 d-flex justify-content-center align-items-center">
                <app-loader></app-loader>
            </div>
        } @else {
            <mat-card-title class="my-3">Genera tu contraseña</mat-card-title>
            <mat-card-content class="card-body">
                <div class="row justify-content-center">
                    <form [formGroup]="createPasswordForm" (ngSubmit)="submit()">
                        <div class="row justify-content-center">
                            <mat-form-field class="w-75">
                                <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Contraseña" formControlName="password">
                                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                @if (f['password'].errors) {
                                    <mat-error>
                                        @if (f['password'].errors['required']) {
                                            La contraseña es obligatoria
                                        }
                                        @if (f['password'].errors['minlength']) {
                                            La contraseña debe ser mayor que 6 caracteres
                                        }
                                        @if (f['password'].errors['maxlength']) {
                                            La contraseña debe ser menor que 40 caracteres
                                        }
                                    </mat-error>
                                }
                            </mat-form-field>
                        </div>
                        <div class="row justify-content-center">
                            <mat-form-field class="w-75">
                                <input [type]="hideConfirmPassword ? 'password' : 'text'" matInput placeholder="Confirmar contraseña" formControlName="confirmPassword">
                                <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
                                    <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                @if(f['confirmPassword'].errors) {
                                    <mat-error>
                                        @if (f['confirmPassword'].errors['required']) {
                                            La confirmación de contraseña es obligatoria
                                        }
                                    </mat-error>
                                }
                            </mat-form-field>
                        </div>
                        <div class="row justify-content-center">
                            <mat-error>
                                @if(createPasswordForm.errors && createPasswordForm.errors['passwordMismatch'] && f['confirmPassword'].touched) {
                                    Las contraseñas no coinciden.
                                }
                            </mat-error>
                        </div>
                        <div class="row justify-content-center">
                            <div class="row text-align-center">
                                <div class="col-12">
                                    <button
                                        type="submit"
                                        color="primary"
                                        class="btn btn-danger rounded-pill px-3"
                                        [disabled]="!createPasswordForm.valid">
                                        Generar contraseña
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </mat-card-content>
        }
    </mat-card>
</div>
