<section class="h-100 w-100">
    <div class="row">
        <div class="col-md-9">
            <h1>Preguntas Frecuentes</h1>
        </div>
        <div class="col-md-3" style="text-align: right;">
            <button class="btn btn-danger rounded-pill" (click)="openModal()">+ Crea una pregunta nueva</button>
        </div>
    </div>
    <div class="row mt-4 h-100" style="text-align: center;">
        <div class="col-md-12">
            @if(isLoading) {
                <div class="w-100 d-flex justify-content-center">
                    <app-loader></app-loader>
                </div>
            } @else {
                @if(frequentQuestionsInfo.data.length > 0 ) {
                    <div class="mat-elevation-z8 p-3">
                        <input (keyup)="applyFilter($event)" class="form-control" placeholder="Busque el usuario">
                    </div>
                    <table mat-table [dataSource]="frequentQuestionsInfo" class="mat-elevation-z8 align-middle">
            
                        <ng-container matColumnDef="identify_lang_frequently_question_id">
                            <th mat-header-cell *matHeaderCellDef> Identificador </th>
                            <td mat-cell *matCellDef="let element"> {{element.identify_lang_frequently_question_id}} </td>
                        </ng-container>

                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef> Pregunta </th>
                            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                        </ng-container>

                        <ng-container matColumnDef="order">
                            <th mat-header-cell *matHeaderCellDef> Orden </th>
                            <td mat-cell *matCellDef="let element"> {{element.order_number}} </td>
                        </ng-container>

                        <ng-container matColumnDef="lang">
                            <th mat-header-cell *matHeaderCellDef> Idioma </th>
                            <td mat-cell *matCellDef="let element">
                                {{mapLanguage(element.lang)}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef class="text-center"> Acciones </th>
                            <td mat-cell *matCellDef="let element" class="text-center align-middle">
                                <button
                                    type="button"
                                    mat-icon-button
                                    matTooltip="Editar proyecto"
                                    color="primary"
                                    (click)="openModal(element, true)"
                                ><mat-icon>edit</mat-icon></button>
                                <button
                                    type="button"
                                    mat-icon-button
                                    color="warn"
                                    matTooltip="Eliminar proyecto"
                                    (click)="deleteRow(element)"
                                ><mat-icon>delete</mat-icon></button>
                            </td>
                        </ng-container>
                        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator
                        [length]="frequentQuestionsInfo.data.length"
                        [pageSize]="10"
                        [pageSizeOptions]="[10, 20, 30]"
                        showFirstLastButtons
                        aria-label="Selecciona la página de recomendaciones"
                        class="mat-elevation-z8">
                    </mat-paginator>
                } @else {
                    <p>No hay ninguna recomendación creada.</p>
                }
            }
        </div>
    </div>
</section>
